@page "/about"
<p>This application was created by <a href="https://fudgey.io" target="_blank">Fudgey</a>.</p>
<p>Any issues please DM me in discord (Fudgey#1337)</p>

<h2>Credits To</h2>
<p><a href="https://sk33z3r.site/" target="_blank">sk33z3r.eth</a> - For creating all of the loophead gifs and hosting them. Chuck them some eth/lrc!</p>