@page "/about"
<p>This application was created by <a href="https://fudgey.io" target="_blank">Fudgey</a>.</p>
<p>The source code for this application can be found in it's <a href="https://github.com/fudgebucket27/LoopheadsExplorer" target="_blank">GitHub repository</a>.</p>
<p>Please report any issues via GitHub.</p>

<h2>Credits To</h2>
<p>sk33z3r.eth - For creating all of the loophead gifs and hosting them. Chuck them some eth/lrc!</p>