@page "/about"
<p>This application was created by <a href="https://fudgey.io" target="_blank">Fudgey</a>.</p>
<p>If you have any issues or feature suggestions please DM me in discord (Fudgey#1337) or raise an issue in <a href="https://github.com/fudgebucket27/LoopheadsExplorer" target="_blank">GitHub</a>.</p>

<h2>Credits To</h2>
<p><a href="https://sk33z3r.site/" target="_blank">sk33z3r.eth</a> - For creating all of the loophead gifs,hosting them and creating the Loopalikes club. Chuck them some ETH/LRC!</p>