@page "/"

<PageTitle>Loopheads Explorer</PageTitle>
<p>View the Loopheads NFT Collection using the links below:</p>
<ul>
    <li><a href="/collectionView/0xe06c7DcBB0C11F0DC2c9Fbf7423925A59543a4A2/1" class="btn btn-primary">View Collection 1</a></li>
    <li><a href="/collectionView/0xC451dD01B0BB748BF883cf9E574326Cf641A243E/2" class="btn btn-primary">View Collection 2</a></li>
    <li><a href="/collectionView/0x7Df389d06aF9C7B4EDd9a342ebEb0677318Ac086/3" class="btn btn-primary">View Collection 3</a></li>
    <li><a href="/collectionView/0x4acaE0c24eC0db2D234100402F7a43D1Af9D3EA3/4" class="btn btn-primary">View Collection 4</a></li>
    <li><a href="/collectionView/0x31830E312116Ed34FD4D5e88EC56AE501d9E3ec4/5" class="btn btn-primary">View Collection 5</a></li>
</ul>




