@page "/"

<PageTitle>Loopheads Explorer</PageTitle>
<h3>Welcome</h3>
<p>This site will allow you to view every Loophead,their variations and metadata easily.</p>

<div class"row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Collection #1</h5>
                <p class="card-text">This collection was airdropped to the top 300 addresses in volume that used the direct to layer 2 fiat on ramps between December 21st, 2021 to January 30th, 2022</p>
                <p class="card-text">670 addresses were selected by lucky draw, who used the direct to layer 2 fiat on ramps during the eligibility period.</p>
                <p class="card-text">The Loopring team were airdropped the remaining 30 Loopheads.</p>
                <a href="/collectionView/QmVYQaf5BP3y8Myr9m4z4FCZYx2v8NJmSHGzm2a2gqig9d/1/100" class="btn btn-primary">View collection</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Collection #2</h5>
                <p class="card-text">This collection was airdropped to the top 300 addresses in net deposits to Layer 2 between March 3, 2022 to April 1, 2022</p>
                <p class="card-text">680 addresses were selected by lucky draw, with net depositss of $100 during the eligibility period.</p>
                <a href="/collectionView/QmZQVV96G3zs3o8wQGXhoZLyrmx2zRo69HPJ3cBY3FS4jk/2/1100" class="btn btn-primary">View collection</a>
            </div>
        </div>
    </div>
</div>
<br />
<p>More information about the Loopheads NFT Collection can be found <a href="https://www.loopheads.info/" target="_blank">here</a>.</p>

<p>Want to explore the Loopaverse? Enter the <a href="https://loopalikes.club/" target="_blank">Loopalikes.club</a>.</p>




