@page "/"

<PageTitle>Loopheads Explorer</PageTitle>
<p>View the Loopheads NFT Collection using the links below:</p>
<ul>
    <li><a href="/collectionView/0xe06c7DcBB0C11F0DC2c9Fbf7423925A59543a4A2" class="btn btn-primary">View Collection 1</a></li>
</ul>




