@page "/"

<PageTitle>Loopheads Explorer</PageTitle>
<h3>Welcome</h3>
<p>This tool will allow you to view every Loophead,their variations and metadata easily.</p>
<div class="card" style="width: 300px;">
  <div class="card-body">
    <h5 class="card-title">Collection #1</h5>
    <p class="card-text">This collection was airdropped to the top 300 addresses in volume that used the direct to layer 2 fiat on ramps between December 21st, 2021 to January 30th, 2022</p>
    <p class="card-text">670 addresses were selected by lucky draw, who used the direct to layer 2 fiat on ramps during the eligibility period.</p>
    <p class="card-text">The Loopring team were airdropped the remaining 30 Loopheads.</p>
    <a href="/collectionView/QmV5o3yLqShKpE9khwGwBg3SEmp6As3bkSd4hvnqtMyPAh/1/100" class="btn btn-primary">View collection</a>
  </div>
</div>
<br />
<p>More information about the Loopheads NFT Collection can be found <a href="https://www.loopheads.info/" target="_blank">here</a>.</p>




