@page "/"

<PageTitle>Loopheads Explorer</PageTitle>
<p>View the Loopheads NFT Collection using the link below:</p>
<ul>
    <li><a href="/collectionView/QmV5o3yLqShKpE9khwGwBg3SEmp6As3bkSd4hvnqtMyPAh/1/100" class="btn btn-primary">View Collection #1</a></li>
</ul>




