@page "/votename/{LoopheadNumber}"
@using LoopheadsExplorer.Models;
@using LoopheadsExplorer.Data;
@inject SqlService SqlService;

<h2>Loophead #@LoopheadNumber</h2>

@if(loopheadSQLDatas != null)
{
    foreach (var loopheadSqlData in loopheadSQLDatas)
    {
        <p>@loopheadSqlData.LoopheadName</p>
        <p>@loopheadSqlData.LoopheadNumber</p>
    }
}
else
{
    <p>Retrieving data...</p>
}

@code {
    [Parameter]
    public string LoopheadNumber { get; set; }

    private List<LoopheadSqlData> loopheadSQLDatas;

    protected override async Task OnInitializedAsync()
    {
        loopheadSQLDatas = await SqlService.GetLoopheadNames(Int32.Parse(LoopheadNumber));
    }
}
