<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LoopheadsExplorer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collectionView/0xe06c7DcBB0C11F0DC2c9Fbf7423925A59543a4A2/1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Collection #1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collectionView/0xC451dD01B0BB748BF883cf9E574326Cf641A243E/2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Collection #2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collectionView/0x7Df389d06aF9C7B4EDd9a342ebEb0677318Ac086/3">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Collection #3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collectionView/0x4acaE0c24eC0db2D234100402F7a43D1Af9D3EA3/4">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Collection #4
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collectionView/0x31830E312116Ed34FD4D5e88EC56AE501d9E3ec4/5">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Collection #5
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
